table, th, td {
    border: 1px solid lightgray;
}

table {
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}